{%extends 'home/master.html'%}
{% load static %}
{%block nav_item_swimmer_list%}active
{%endblock %}
{%block main%}

<div class="container main">
    <h1>Update {{view_type}}</h1>
    <form method="post">
        
        <div class="card shadow p-2">
            <div class="card-header card-header-secondary">
                <h4>Edit {{view_type}} Details</h4>
            </div>
            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
        </div><input class="btn btn-primary mt-3" type="submit" value="Update" style="width: 100%;">
    </form>
    <a class="btn btn-secondary mt-2" href="{{model.get_absolute_url}}">Back</a>
</div>

{%endblock%}